<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
      <ion-button>
        <input class="file-over" type="file" multiple="single" (change)="onClickUpload($event)"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>MÔ HÌNH TỔ CHỨC</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickDownload()">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-text-center" size="12" class="card-prospect" *ngFor="let item of organizationsTree"
      [style.background]="(item.background?item.background:'#fafafaf6')">
      <ion-row (click)="onClickSpec($event, item)">
        <ion-col size="10" class="prospect-header" [style.color]="(item.color?item.color:'darkblue')">
          <ion-icon style="font-size: 1em" [style.color]="'lightblue'" name="md-cloud-upload">
          </ion-icon>{{item.name}}
        </ion-col>
        <ion-col size="2" class="prospect-header" [style.color]="'darkblue'">
          {{item.status}}
        </ion-col>
      </ion-row>

      <!-- Bộ cây tổ chức của tổ chức độc lập cấp phòng ban, cấp tổ/đội, vùng -->
      <tree-list [treeData]="item.subs" (onClickKpi)="onClickTreeItem($event)"></tree-list>
    </ion-col>
  </ion-row>
</ion-content>