tree-list {

    .background-page {
    background-color: #2d96de;
    }

    .background-page ion-icon{
    color: #2d96de;
    }

    .background-card {
            background-color: #f3f3f3;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	}

	.background-card ion-icon{
		color: #2d96de;
	}

	.gradient {
        background-image: url("https://c3.mobifone.vn/api/assets/imgs/gradient.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	
	.grid-border{
		border-radius: 0.5em;
		border: solid 0.1em #FFFFFF;
	}

    .tree-input-item {
		border-radius: 0.5em;
		opacity: 0.9;
        font-size: 1em;
        //padding:0px;
	}

	.title-item {
		color: rgba(38, 43, 80, 0.932);
		text-align: center;
		font-size: 1.4em;
	}

	.button-item{
		border: solid 0.1em;
		width: 100%;
	}    



	/* .table-row-kpi ion-col { //tất cả các cột sau class này
		border: solid 0.1em #FFFFFF;
	} */
	
	.table-row-kpi ion-row:nth-of-type(odd) { //dòng lẻ
		background: #fafafaf6;
        color:#202020;
        opacity: 0.9;
	}
	
	.table-row-kpi ion-row:nth-of-type(even) { //dòng chẵn
		background: #e4f5f2;
        color:#202020;
        opacity: 0.7;
    }
	

	.test-color {
		background: #2fe95e;
        color:#fadfa6;
	}

}