<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>MÔ HÌNH TỔ CHỨC</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngFor="let item of organizationsTree">
      <ion-row (click)="onClickSpec($event, item)">
        <ion-col>
          {{item.name}}
        </ion-col>
        <ion-col>
          {{item.status}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>